*.iml
homework2w1j/.gradle
homework2w1j/local.properties
homework2w1j/.idea/caches
homework2w1j/.idea/libraries
homework2w1j/.idea/modules.xml
homework2w1j/.idea/workspace.xml
homework2w1j/.idea/navEditor.xml
homework2w1j/.idea/assetWizardSettings.xml
homework2w1j.DS_Store
homework2w1j/build
homework2w1j/captures
homework2w1j/.externalNativeBuild
homework1A12/.gradle
homework1A12/local.properties
homework1A12/.idea/caches
homework1A12/.idea/libraries
homework1A12/.idea/modules.xml
homework1A12/.idea/workspace.xml
homework1A12/.idea/navEditor.xml
homework1A12/.idea/assetWizardSettings.xml
homework1A12/.DS_Store
homework1A12/build
homework1A12/captures
homework1A12/.externalNativeBuild
*.idea/*
